@using evaluacionLECH.Models
@model List<CapturaCLS>
@{
    ViewBag.Title = "Lista de prospectos";
}

@Html.Partial("_TablaLista", Model)



<div class="modal fade" id="estatusModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="estatusModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="estatusModalLabel">Datos de registro seleccionado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Ajax.BeginForm("editarlo", "Lista", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "Editado" }, new { @id = "frmGuarda" }))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <label>Estatus</label>

                            <input id="txtEstatus" type="text" class="form-control" />
                        </div>
                        <div class="col-12">
                            <label>Observaciones</label>
                            <input id="txtObs" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="closeModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Editar" />
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    function editar(id) {
        $("#Titulo").val(id);
        console.log(id);
        $.get("Lista/recuperarDatos/?titulo=" + id, function (data) {
            $("#txtEstatus").val(data.estatusProspecto);
            $("#txtObs").val(data.observacionesProspecto);
        });
    }
    function Editado(res) {
        $("#frmGuarda").trigger("submit");
        $("#closeModal").click();
        alert("ya");
    }
    $(document).ready(function () {
        var table = $('#tablaProspecto').DataTable({
            "language":
            {
                url: "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            },
            "paging": false,
            scrollX: true,
           
        });
    });
</script>