@using evaluacionLECH.Models
@model LoginCLS
@{
    Layout = null;
}

<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="~/Content/Img/portafolio.png" />
    <title>Login</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />
    <meta name="theme-color" content="#7952b3">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
    </style>
    <link href="signin.css" rel="stylesheet">
</head>
<body class="text-center">
    <main class="form-signin">
        <form>
            @using (Ajax.BeginForm("Login", "Login", "", new AjaxOptions { HttpMethod = "POST", OnSuccess = "Ingresar", UpdateTargetId = "divRespuesta" }, new { @id = "frmLogin" }))
            {
                <img class="mb-4" src="~/Content/Img/portafolio.png" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Seguimiento de clientes</h1>
                <div class="form-floating">
                    @Html.TextBox("username", null, new { @class = "form-control", @placeholder = "Usuario", @required = "true", @id = "floatingInput" })
                    <label for="floatingInput">Usuario</label>
                </div>
                <div class="form-floating">
                    @Html.Password("password", null, new { @class = "form-control", @placeholder = "*******", @required = "true", @id = "floatingPassword" })
                    <label for="floatingPassword">Contraseña</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
                <p class="mt-5 mb-3 text-muted">&copy; LECH - 2022</p>
            }
        </form>
    </main>


    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    
</body>
</html>
